{{#section "education"}}
<section id="education">
  {{#> header-education }}
    {{> header-icon _title="EDUCATION" _section="education" _hdricon=(lookup . '_icon') }}
  {{/header-education}}
  {{#each r.education.history}}
    {{#> body-education }}
    <div>
      {{#if title}}<h2 class="title">{{ title }}</h2>{{/if}}
      <h3 class="institution">
        {{{ institution }}}
      </h3>
      <div class="tenure">{{ dateRange .}}</div>
      {{{ summary }}}
      {{#if curriculum}}
        <p class="keywords"><b>Relevant coursework: </b>{{#each curriculum}}{{#if @first}}{{{ . }}}{{else}}, {{{ . }}}{{/if}}{{/each}}</p>
      {{/if}}
    </div>
    {{/body-education}}
  {{/each}}
</section>
{{/section}}
