{{#section "projects"}}
<section id="projects">
  {{#> header-projects }}
    {{> header-icon _title="PROJECTS" _section="projects" _hdricon=(lookup . '_icon') }}
  {{/header-projects}}
  {{#each r.projects }}
    {{#> body-projects }}
    <div>
      <h2>
        <span class="title">
          {{#if url }}
          <a href="{{{ url }}}">{{ title }}</a>
          {{else}}
          {{ title }}
          {{/if}}
        </span>
        {{#if location}}
          <span class="venue">
            |
            {{{ location }}}
          </span>
        {{/if}}
      </h2>
      {{#if keywords}}
      <div class="keywords">{{#each keywords}}{{#if @first}}{{ . }}{{else}}, {{ . }}{{/if}}{{/each}}</div>
      {{/if}}
      {{!-- {{#if location}}<div class="location">{{{ location }}}</div>{{/if}} --}}
      {{!-- {{#if url}}<div class="link"><a href="{{{ url }}}">{{{ url }}}</a></div>{{/if}} --}}
      {{> highlights }}
    </div>
    {{/body-projects }}
  {{/each}}
</section>
{{/section}}
